<div class="container block mt-5 mb-5 text-center">

  <h2>Регистрация</h2>
  <%= render "devise/shared/links" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="text-start my-3">
        <%= form.label :email, 'email', class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'email' %>
      </div>

      <div class="text-start my-3">
        <%= form.label :password, 'Пароль', class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control', autocomplete: 'current-password' %>
      </div>

      <div class="text-start my-3">
        <%= form.label :password_confirmation, 'Повтор пароля', class: 'form-label' %>
        <%= form.password_field :password_confirmation, class: 'form-control', autocomplete: 'current-password' %>
      </div>

      <div class="my-3 text-start">
        <%= form.submit "Зарегистрироваться", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
