<div class="container block mt-5 mb-5 text-center">

  <h2>Вход</h2>
  <%= render "devise/shared/links" %>

  
  <%= form_for resource, as: resource_name, url: session_path(resource_name) do |form| %>
      <div class="text-start my-3">
        <%= form.label :email, 'email', class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'email' %>
      </div>

      <div class="text-start my-3">
        <%= form.label :password, 'Пароль', class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control', autocomplete: 'current-password' %>
      </div>

      <div class="my-3 text-start">
        <%= form.submit "Войти", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>