<div class="container block mt-5 mb-5 text-center">

    <% if @data != '[]' %>
        <h4>#<%= @id %>: <%= @name %></h4>
        <h5>Автор: <%= @creator %></h5>
        <canvas id="canvas" class="mt-5"></canvas>
    <% else %>
        <h4>Рисунок #<%= @id %></h4>
    <% end%>
    <h3><%== @status %></h3>


    <%= form_with url: save_paint_path do |form| %>
        <%= form.text_field :line_points, value: @data, class: 'd-none' %>
        <%= form.text_field :id, value: @id, class: 'd-none' %>
    <% end %>

   
    <!-- <div class="row mt-5">
        <div class="col-12 mt-2">
            <a href="" type="button" id="download_button" class="d-block btn btn-primary mt-2">Скачать файл</a>
        </div>
    </div>-->
</div>