<!DOCTYPE html>
<html>
  <head>
    <title>Drawio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="/canvas.js"></script>
  </head>

  <body>
    <% if current_user %>
      <header class="w-100">
        <div class="container">
          <div class="row text-center">
            <div class="col-3 p-0"><a class="d-block px-2" href="/about">
              <div class="d-inline-block header-logo"><img class="image-contain" src="/logo.png"></div>
              <div class="d-inline-block">DRAW.IO</div>
            </a></div>
            <div class="col-2 p-0"><a class="d-block px-2" href="/paint"><%=t(:menu_paint)%></a></div>
            <div class="col-2 p-0"><a class="d-block px-2" href="/gallery"><%=t(:menu_gallery)%></a></div>
            <div class="col-2 p-0"><a class="d-block px-2" href="/my"><%=t(:menu_my)%></a></div>
            <div class="col-3 p-0 d-flex flex-column justify-content-center">
                <div><small><%= current_user.email %> [<%= current_user.id %>]</small></div>
                <div><%= button_to "Выйти", destroy_user_session_path, id: 'logout', method: :delete, data: {turbo: false}, class: "btn btn-danger" %></div>
            </div>
        </div>
      </header>
    <% end %>
    <%= yield %>
    <script>
      init();
    </script>
  </body>
</html>
