<!DOCTYPE html>
<html>
  <head>
    <title>Drawio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="w-100">
      <div class="container">
        <div class="row text-center">
          <div class="col-3 p-0"><a class="d-block px-2" href="/about">
            <div class="d-inline-block header-logo"><img class="image-contain" src="/logo.png"></div>
            <div class="d-inline-block">DRAW.IO</div>
          </a></div>
          <div class="col-3 p-0"><a class="d-block px-2" href="/paint">Рисовать!</a></div>
          <div class="col-3 p-0"><a class="d-block px-2" href="/gallery">Галерея</a></div>
          <div class="col-3 p-0"><a class="d-block px-2" href="/my">Мои работы</a></div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
